QNCY_DB_BACKEND=postgresql
QNCY_DB_USER=postgres
QNCY_DB_PASSWORD=postgres
QNCY_DB_URI=db
DATABASE_PORT=5432

QNCY_SECRET_KEY=timeisaplace326
QNCY_TIMEZONE=Europe/Moscow

CENTRIFUGO_URL=http://centrifugo:8001/api
CENTRIFUGO_API_KEY=centrifugo_api
