services:
  web:
    build: .
    command: python /var/app/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/var/app
    ports:
      - 8000:8000
    depends_on:
      - db
    environment:
      - QNCY_DB_USER=postgres
      - QNCY_DB_PASSWORD=postgres
      - QNCY_DB_URI=db
      - QNCY_DATABASE_PORT=5432
  db:
    image: postgres:14
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - "POSTGRES_HOST_AUTH_METHOD=trust"

volumes:
  postgres_data:
