{% load static %}

<!DOCTYPE html>
<html lang="en-UK">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  {% block head %}{% endblock head %}
  <title>{% block title %}{% endblock title %} - QNCY</title>
</head>
<body>
    <header>
    <nav>
        <ul>
            <li><a href="/" class="logo">QNCY</a></li>
            <li>
                <form role="search" id="search" action="/search">
                    <input placeholder="Search">
                </form>
            </li>
            <li><a href="{% url 'qncy:ask' %}" class="ask">ask!</a></li>
            {% if user.is_authenticated %}
            <li class="profile-container">
                {% if user.pfp_url %}<img src="{{ user.pfp_url }}">{% endif %}
                <div class="profile">{{ user.username }} <span><a href="#">settings</a>
                <form method="post" action="{% url 'qncy:logout' %}">
                    {% csrf_token %}
                    <button type="submit">logout</button>
                </form>
            </span></div>
            </li>
            {% else %}
            <li><a href="/login">log in</a></li>
            <li><a href="/register">register</a></li>
            {% endif %}
            
        </ul>
    </nav>
    <hr>
    </header>
    <div class="container">
        <section class="mainbar">
            {% block content %}{% endblock content %}
        </section>
        <aside class="sidebar">
            {% if common.top_tags %}
                <p>Popular tags</p>
                <ul class="tags">
                {% for tag in common.top_tags %}
                    <li><a href="{% url 'qncy:tagged' tag.name %}">{{ tag.name }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No tags are available.</p>
            {% endif %}

            {% if common.top_users %}
                <p>Best members</p>
                <ul class="users">
                {% for user in common.top_users %}
                    <li><a href="/user/{{user.username}}">{{ user.username }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No members exist.</p>
            {% endif %}
        </aside>
    </div>
</body>
</html>
