{% extends "qncy/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<link rel="stylesheet" href="{% static 'css/question.css' %}">
{% endblock %}

{% block title %}{{ question.title }}{% endblock %}

{% block content %}
<h1 class="heading">{{ question.title }}</h1>

<div class="card">
    <div class="card-score">
        <button><svg aria-hidden="true"width="18" height="18" viewBox="0 0 18 18"><path d="M1 12h16L9 4z"></path></svg></button>
        {{ question.rating }}
        <button><svg aria-hidden="true"width="18" height="18" viewBox="0 0 18 18"><path d="M1 6h16l-8 8z"></path></svg></button>
    </div>
    <div class="card-info">
        <p>{{ question.content }}</p>
        <div class="card-footer">
            <span>Asked by {% if question.author.pfp %}<img src="{{ question.author.pfp.url }}">{% endif %} <a href="#">{{ question.author.username }}</a></span>
            {% if question.tags.count %}
                <span>Tags: {% for tag in question.tags.all %}<a href="{% url 'qncy:tagged' tag.name %}">{{ tag.name }}</a> {% endfor %}</span>
            {% endif %}
        </div>
    </div>
</div>

<h2>Answers: {{ question.answers }}</h2>

{% if page_obj %}
    {% for answer in page_obj %}
        <div class="card">
            <div class="card-score">
                <button><svg aria-hidden="true"width="18" height="18" viewBox="0 0 18 18"><path d="M1 12h16L9 4z"></path></svg></button>
                {{ answer.rating }}
                <button><svg aria-hidden="true"width="18" height="18" viewBox="0 0 18 18"><path d="M1 6h16l-8 8z"></path></svg></button>
                {% if answer.accepted %}
                <span title="Question owner accepted this answer"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 -2 24 24" class="accepted"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg></span>
                {% elif user.is_authenticated and user == question.author %}
                <button title="Accept this answer"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 -2 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg></button>
                {% endif %}
            </div>
            <div class="card-info">
                <p>{{ answer.content }}</p>
                <div class="card-footer">
                    <span>Answer by {% if answer.author.pfp %}<img src="{{ answer.author.pfp.url }}">{% endif %} <a href="#">{{ answer.author.username }}</a></span>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>Be the first to answer!</p>
{% endif %}

{% include "qncy/pagination.html" %} 

{% if user.is_authenticated %}
<form method="post" class="answer-form">
  {% csrf_token %}
  {{ form }}
  <button type="submit">Answer!</button>
</form>
{% endif %}

{% endblock %}