{% if page_obj %}
    {% for question in page_obj %}
        <div class="card">
            <div class="card-score">
                <button><svg aria-hidden="true"width="18" height="18" viewBox="0 0 18 18"><path d="M1 12h16L9 4z"></path></svg></button>
                {{ question.rating }}
                <button><svg aria-hidden="true"width="18" height="18" viewBox="0 0 18 18"><path d="M1 6h16l-8 8z"></path></svg></button>
            </div>
            <div class="card-info">
                <h2 class="card-title"><a href="{% url 'qncy:question' question.id %}">{{ question.title }}</a></h2>
                <p>{{ question.content | truncatechars:200}}</p>
                <div class="card-footer">
                    <span>Asked by {% if question.author.pfp %}<img src="{{ question.author.pfp.url }}">{% endif %} <a href="#">{{ question.author.username }}</a>. <a href="{% url 'qncy:question' question.id %}">Answer ({{ question.answers }})</a></span>
                    {% if question.tags.count %}
                    <span>Tags: {% for tag in question.tags.all %}<a href="{% url 'qncy:tagged' tag.name %}">{{ tag.name }}</a> {% endfor %}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>No questions are available.</p>
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&pagesize={{ page_obj.paginator.per_page }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>