{% extends "qncy/base.html" %}
{% load static %}
{% load qncy_voting %}

{% block head %}
<link rel="stylesheet" href="{% static 'qncy/css/question.css' %}">
{% endblock %}

{% block title %}{{ question.title }}{% endblock %}

{% block content %}
<h1 class="heading">{{ question.title }}</h1>

<div class="card">
    <div class="card-score">{% vote question user %}</div>
    <div class="card-info">
        <p>{{ question.content }}</p>
        <div class="card-footer">
            <span>Asked by {% if question.author.pfp %}<img src="{{ question.author.pfp.url }}">{% endif %} <a href="{% url 'qncy:user_profile' question.author.username %}">{{ question.author.username }}</a></span>
            {% if question.tags.count %}
                <span>Tags: {% for tag in question.tags.all %}<a href="{% url 'qncy:tagged' tag.name %}">{{ tag.name }}</a> {% endfor %}</span>
            {% endif %}
        </div>
    </div>
</div>

<h2>Answers: {{ question.answer_count }}</h2>

<div id="answers">{% include "qncy/answer_list.html" %}</div>

{% if user.is_authenticated %}
<form method="post" class="answer-form">
  {% csrf_token %}
  {{ form }}
  <button type="submit">Answer!</button>
</form>
{% endif %}

{% endblock %}