form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

form > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form label { font-weight: bold;}

form input, form textarea {
    width: 80%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form button {
    text-transform: uppercase;
    border-style: none;
    color: var(--drizzle);
    padding: 5px 20px;
    border-radius: 5px;
    background-color: var(--lavender);
    max-width: 100px;
}

form button:hover {
    text-shadow: 0 0 4px var(--soft-lavender);
    background-color: var(--black-lavender);
}
